.ipynb_checkpoints
__pycache__
Example_transcriptomics_data/dataProcessing.log
Example_transcriptomics_data/dataTables
Example_transcriptomics_data/oleveler
Example_transcriptomics_data/Plots
Example_transcriptomics_data/RSessionInfo.txt
.DS_Store
.mypy_cache
*.ipynb
backup_mqres/
mqrun/
dataProcessing.log
Annotation.csv
Plots/
comparisons.xlsx
dataTables/
